
body{
    height: 100% !important;
    line-height: 2;
}
/* 
@media(max-width: 790px){
    #ChatCard{
        display: none !important
    }
    #MessageCard{
        display: none !important
    }
}
*/
@media(max-width: 780px){
    #UsersCard{
        width: 100% !important
    }
    .ChatClass{
        margin-left: -200% !important;
        max-width: 320px !important;
        width: 100% !important;
        position: absolute;
        
    }
    .ChatClass-Active{
        margin-left: auto !important;
        max-width: 320px !important;
        width: 100% !important;
        position: absolute;
        
    }
}
